.root {
    -fx-background-color: WHITE;
    -fx-font-size: 10pt;
    -fx-padding: 10;
}

.jfx-text-field, .jfx-password-field {
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-max-width: 300;
}

/*.scroll-pane {*/
/*    -fx-background-insets: 0;*/
/*    -fx-padding: 0;*/
/*}*/

/*.scroll-pane:focused {*/
/*    -fx-background-insets: 0;*/
/*}*/

/*.scroll-pane .corner {*/
/*    -fx-background-insets: 0;*/
/*}*/

.jfx-list-view {
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
}

.todo-label {
    -fx-background-color: rgb(101, 203, 87);
    -fx-background-radius: 25;
}

.event-label {
    -fx-background-color: rgb(246, 194, 81);
    -fx-background-radius: 25;
}

.deadline-label {
    -fx-background-color: rgb(237, 107, 96);
    -fx-background-radius: 25;
}

.error-popup {
    -fx-background-radius: 25;
    -fx-background-color: rgb(237, 107, 96);
    -fx-text-fill: #ffffff;
}

.message-popup {
    -fx-background-radius: 25;
    -fx-background-color: #f3f3f3;
    -fx-text-fill: #000000;
}