.root {
    -fx-background-color: WHITE;
    -fx-font-size: 12pt;
    -fx-font-family: "SF Pro Text";
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
}

.status-completed {
    -fx-background-color: #00bfa5;
    -fx-background-radius: 5;
    -fx-padding: 4;
}

.status-active {
    -fx-background-color: #32cb00;
    -fx-background-radius: 5;
    -fx-padding: 4;
}

.status-canceled {
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 5;
    -fx-padding: 4;
}

.error-popup {
    -fx-background-radius: 25;
    -fx-background-color: rgb(237, 107, 96);
    -fx-text-fill: #ffffff;
}

.message-popup {
    -fx-background-radius: 25;
    -fx-background-color: #00bfa5;
    -fx-text-fill: #ffffff;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-selection-bar: white;
    -fx-selection-bar-non-focused: white;
}

.list-cell {
    -fx-padding: 10 10 10 10;
}

.list-cell:filled {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}

.list-cell:filled:selected {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
}



