.root {
    -fx-background-color: WHITE;
    -fx-font-size: 10pt;
}

/*.jfx-text-field {*/
/*    -fx-font-weight: BOLD;*/
/*    -fx-prompt-text-fill: #808080;*/
/*    -jfx-focus-color: #4059A9;*/
/*    -jfx-unfocus-color: #4d4d4d;*/
/*    -fx-max-width: 300;*/
/*}*/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
}

.status-completed {
    -fx-background-color: #00bfa5;
    -fx-background-radius: 5;
    -fx-padding: 4;
}

.status-active {
    -fx-background-color: #32cb00;
    -fx-background-radius: 5;
    -fx-padding: 4;
}

.status-canceled {
    -fx-background-color: #bdbdbd;
    -fx-background-radius: 5;
    -fx-padding: 4;
}

.error-popup {
    -fx-background-radius: 25;
    -fx-background-color: rgb(237, 107, 96);
    -fx-text-fill: #ffffff;
}

.message-popup {
    -fx-background-radius: 25;
    -fx-background-color: #00bfa5;
    -fx-text-fill: #ffffff;
}




