BorderPane, ScrollPane, HBox, VBox, FlowPane {
    -fx-background-color: #1d1d1d;
    -fx-background: #1d1d1d;
    -fx-border-width: 1px;
}

#autoCompleteLabel{
-fx-background-color: #6b6565;
}
#generalFeedbackLabel{
-fx-background-color: #6b6565;
}

ProgressBar .track{
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-border-color: white;
    -fx-background-color: #403F3F;
}

ProgressBar .bar{
    -fx-background-color: #403F3F;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

ScrollPane .scroll-bar:vertical{
    -fx-background-color: #292727;
}

ScrollPane .increment-button, ScrollPane .decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
}

ScrollPane .increment-button:hover, ScrollPane .decrement-button:hover{
    -fx-background-color: white;
    -fx-border-color: transparent;
}

ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #7d7d7d;
    -fx-background-radius: 2em;
}

ScrollPane .scroll-bar:vertical .track{
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

ScrollPane .scroll-bar:vertical .thumb:hover{
    -fx-background-color: white;
}

Label{
    -fx-text-fill: white;
}

#movieIDLabel {
 -fx-font-size: 8pt;
 -fx-font-family: Verdana;
}

.subtitle{
    -fx-font-size: 8pt;
    -fx-font-family: Tahoma;
}

ToolBar{
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 2em;
    -fx-border-color: transparent transparent #403F3F transparent;
}

MenuBar{
    -fx-background-color: #1d1d1d;
    -fx-background: #1d1d1d;
    -fx-border-color: transparent transparent #403F3F transparent;
    -fx-text-fill: white;
}

MenuBar .label{
    -fx-text-fill: white;
}

MenuBar .label{
    -fx-text-fill: white;
}

MenuBar .menu-item, MenuBar .context-menu{
     -fx-background-color: #1d1d1d;
}

MenuBar .menu-item:hover, MenuBar .context-menu:hover, MenuBar .menu:hover{
    -fx-background-color: #403F3F;
}

MenuBar .context-menu{
    -fx-border-color: #403F3F;
}

MenuBar .context-menu{
    -fx-padding: 0 0 0 0;
}


#text{
-fx-padding: 6, 6, 6, 6;
}

TextField{
    -fx-background-color: #403F3F;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-text-fill: white;
}

TextField:focused, TextField:hover{
    -fx-border-color: white;
}

.posterPane:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
