.mainPane {
    -fx-background-image: url("../images/SGmap.jpg");
    -fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#LocationCard {
    -fx-background-image: url("../images/location_pointer.png");
    -fx-background-size: contain;
}

#RouteNodeStart {
    -fx-background-image: url("../images/route_node_start.png");
    -fx-background-size: contain;
}

#RouteNodeEnd {
    -fx-background-image: url("../images/route_node_end.png");
    -fx-background-size: contain;
}

#RouteNodeIntermediate {
    -fx-background-image: url("../images/route_node_intermediate.png");
    -fx-background-size: contain;
}
