# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
*.class
*.txt
*.file
ArrayList
Version1
Version2
Version3
*.log
*.ics

#Vscode specific
.project
.settings/
.classpath
*.json