# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Data files
data.json
/data.json
text_file
duchess.log

/data.json

testEmptyData.json
/testEmptyData.json

testNonEmptyData.json
/testNonEmptyData.json

testBlankData.json
/testBlankData.json
