# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

#data and test files
/storeData.txt
/text-ui-test/ACTUAL.TXT
/text-ui-test/EXPECTED.txt
/text-ui-test/input.txt
/text-ui-test/storeData.txt
/storeData.json




