language: java
matrix:
  include:
    - jdk: openjdk11

before_install:
	- chmod +x gradlew

script: >-
  ./gradlew clean test checkstyleMain checkstyleTest

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
