BorderPane {
}

Textfield {
    -fx-alignment: bottom;
}

ListView, TableView {
}

Label {
}

#totalSpentLabel, #monthlyBudgetLabel {
    -fx-font-size: 2em;
}

Hbox {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#inputField {
    -fx-font-size: 1.5em;
}