BorderPane {
}

Textfield {
    -fx-alignment: bottom;
    -fx-padding: 20px;
}

#expenseListView, #budgetListView, #incomeListView{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}


HBox {
    -fx-min-width: 800px;
}

VBox {
    -fx-padding: 5 5 5 5;
}

#inputField {
    -fx-font-size: 1.5em;
}

#MainContainer {
    -fx-background-color: LIGHTSLATEGRAY
;
}