.list-cell{
    -fx-background-color: WHITE

;

}

.list-view{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#paneTitle {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: GOLD;

}

#dialogListView {
    -fx-font-size: 16px;
}
