.lightHBox {
    -fx-background-color: #EE8EC7;
    -fx-border-color: white;
}

.lightTextField {
    -fx-background-color: #EE8EC7;
    -fx-background-radius: 10;
}

.lightScrollPane {
    -fx-background-color: pink;
}

.lightVBox {
    -fx-background-color: pink;
}

.lightLabel {
    -fx-text-fill: white;
}

.lightButton {
    -fx-background-color: #FF9EC7;
    -fx-border-color: white;
}

.darkButton {
    -fx-background-color: #333;
    -fx-border-color: black;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}